<div class="card">
  <div class="card-header">
    <h2>LogIn</h2>
  </div>

  <form id="login" class="card-body">
    <div>
      <label for="username-login-input">Username</label>
      <input  type="text" id="username-login-input" />
    </div>
    <div>
      <label for ="password-login-input">Password</label>
      <input type="password" id="password-login-input" />
    </div>
    <button type="submit" class="btn">Login!</button>
    <a href="/signup" type="button">Don't have an account?</a>
  </form>

</div>

<script src="/JS/login.js"></script>