<div class="post-card">
    <div class="card-header">
        <h2>Create new Post</h2>
    </div>
    <form class="card-body" id="new-post">
        <label for="post-title" class="form-label" >Title</label>
        <input type="text" name="post-title" class="form-input"/>

        <label class="form-label" for="post-body">Content</label>
        <textarea name="post-body" class="form-input"></textarea>

        <button type="submit" class="btn">Create</button>
    </form>
</div>

{{!-- add newpost.js --}}
<script src="/JS/new.js"></script>