<div class="card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <div >
        <form id="signup">
            <div>
                <label>Username</label>
                <input type="text" />
            </div>
            <div>
                <label >Password</label>
                <input type="password"/>
            </div>
            <button type="submit">SignUp!</button>
            <a href="/login">Already have an account?</a>
        </form>
    </div>
</div>