<div class="card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <div >
        <form id="signUp" >
            
            <div>
                <label >Username:</label>
                <input class="form-input" type="text"  id="username-signUp"/>
            </div>
            <div>
                <label >Password</label>
                <input class ="form-input" type="password" id="password-signUp"/>
            </div>
            <button type="submit">SignUp!</button>
            <a href="/login">Already have an account?</a>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>